{% extends "base.html" %}

{% block head %}
<title>BinChe2</title>
{% endblock %}

{% block body %}

{% if user_study_set %}
<div class="page-container">
    <!-- <h3 class="mb-3">You submitted:</h3> -->
    <!-- <p class="mb-4 text-body">{{ user_study_set.replace('\r\n', ', ').replace('\n', ', ') }}</p> -->
    <!-- <pre class="study-set mb-4">{{ user_study_set }}</pre> -->

    <h3 class="mt-4 mb-3">Pruning Strategies</h3>

    <div class="main-container">
    <form action="/run_analysis" method="POST" class="main-form content-card needs-validation">
        <p>
        Either choose the existing looping pruning strategy or configure pruning options and correction method
        manually below.
        </p>
        <p>See the descriptions on the right for details on each pruning method.</p>
        <!-- LOOPING PRUNING METHOD -->
        <div class="mb-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="looping_prune_method" id="plain_enrich" value="plain_enrich" required>
                <label class="form-check-label" for="plain_enrich">
                    Looping pruning: Plain Enrichment Pruning Strategy (make no further selections below)
                </label>
                <button type="button" class="btn btn-sm ms-2 info-button" style="border: none; background: none; color: #800020; padding: 0;" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="Plain Enrichment Pruning Strategy" data-bs-content="The pre-loop phase applies the high p-value branch pruner (threshold 0.05), the linear branch collapser pruner (n = 0), and the root children pruner (levels = 2). The loop-phase applies the high p-value branch pruner (threshold 0.05), the linear branch collapser pruner (n = 0), and the zero-degree vertex pruner. Benjamini-Hochberg is used as the P-value correction method.">
                    🛈
                </button>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="looping_prune_method" id="no_loop_prune" value="no_loop_prune">
                <label class="form-check-label" for="no_loop_prune">
                    No looping pruning (customize options below)
                </label>
                <button type="button" class="btn btn-sm ms-2 info-button" style="border: none; background: none; color: #800020; padding: 0;" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="No Looping Pruning" data-bs-content="Choose this option to disable looping pruning and customise pruning options manually below. The chosen methods will be applied one time each.">
                    🛈
                </button>
            </div>
        </div>

        <!-- P-VALUE CORRECTION METHOD -->
        <h4 class="mt-4 mb-3">Choose p-Value Correction Method</h4>
        <div class="mb-4">
            <label for="p_value_correction_method" class="form-label">P-value correction method:</label>
            <select name="p_value_correction_method" id="p_value_correction_method" class="form-select" style="max-width: 300px;">
                <option value="benjamini_hochberg">Benjamini-Hochberg</option>
                <option value="bonferroni">Bonferroni</option>
                <option value="none">None</option>
            </select>
        </div>

        <h4 class="mt-4 mb-3">Choose Pruning Methods</h4>
        <!-- ROOT CHILDREN PRUNE -->
        <div class="form-check form-switch mb-2">
            <input type="checkbox" name="root_children_prune" value="true" class="form-check-input"
                id="root_children_prune">
            <label for="root_children_prune" class="form-check-label">
                Root Children Pruner
            </label>
        </div>
        <div class="mb-4 ms-4">
            <label for="levels" class="form-label small text-muted">Levels (levels to prune including root):</label>
            <input type="number" name="levels" id="levels" value="2" min="0" class="form-control" style="max-width:150px;">
        </div>


        <!-- LINEAR BRANCH PRUNE -->
        <div class="form-check form-switch mb-2">
            <input type="checkbox" name="linear_branch_prune" value="true" class="form-check-input"
                id="linear_branch_prune">
            <label for="linear_branch_prune" class="form-check-label">
                Linear Branch Collapser Pruning
            </label>
        </div>
        <div class="mb-4 ms-4">
            <label for="linear_branch_n" class="form-label small text-muted">n (Keeps every n:th node in the branch. n=0 removes all intermediate nodes):</label>
            <input type="number" name="linear_branch_n" id="linear_branch_n" value="2" min="0" class="form-control" style="max-width:150px;">
        </div>

        <!-- HIGH P-VALUE PRUNE -->
        <div class="form-check form-switch mb-2">
            <input type="checkbox" name="high_p_value_prune" value="true" class="form-check-input"
                id="high_p_value_prune">
            <label for="high_p_value_prune" class="form-check-label">
                High p-value Branch Pruner
            </label>
        </div>
        <div class="mb-4 ms-4">
            <label for="p_value_threshold" class="form-label small text-muted">
                p-value threshold (a node with a higher p-value will be still be kept if it has a descendant with a
                p-value below the threshold):
            </label>
            <input type="number" name="p_value_threshold" id="p_value_threshold" value="0.05" step="0.01" min="0" max="1"
                class="form-control" style="max-width:150px;">
        </div>

        <!-- ZERO DEGREE PRUNE -->
        <div class="form-check form-switch mb-4">
            <input type="checkbox" name="zero_degree_prune" value="true" class="form-check-input"
                id="zero_degree_prune">
            <label for="zero_degree_prune" class="form-check-label">
                Zero-degree pruning
            </label>
        </div>

        <div class="mt-4 mb-3">
            <button type="submit" class="btn btn-primary">
                Run Analysis
            </button>
        </div>
    </form>

    <aside class="info-container">
        <h4 class="mb-2">
            <button class="btn info-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#pruning-methods-info" aria-expanded="false" aria-controls="pruning-methods-info">
                <i class="fa fa-chevron-right info-toggle-icon"></i> Pruning methods
            </button>
        </h4>
        <div class="collapse" id="pruning-methods-info">
            <p>
                If you manually choose which pruning strategies to apply, they will be implemented once each. The options are the following:
            </p>
            <p>
                <strong>Root Children Pruner:</strong> Removes the roots and their children up to a defined level
                (number of levels being an adaptable parameter). This allows removal of more general, and less
                meaningful, entities in the ontology. For example, levels set to 2 will remove the roots and one
                level of their descendants.
            </p>
            <p>
                <strong>Linear Branch Collapser Pruner:</strong> Removes linear branches within the graph; only
                nodes with one parent and one child can be removed. Either a chosen number of nodes (n) in the
                linear branch will be kept, or all intermediate nodes in the branch can be removed (set n = 0).
                E.g., n = 3 will keep every third node in the branch.
            </p>
            <p>
                <strong>High P-Value Branch Pruner:</strong> Removes branches from the graph that only contain
                nodes with a p-value greater than 0.05 (this value can be changed). A node with a higher p-value
                will still be kept if it has at least one descendant with a p-value lower than the threshold.
            </p>
            <p>
                <strong>Zero-degree Pruner:</strong> Removes nodes that have no connections with other nodes; that
                is, nodes with a total degree of zero.
            </p>
            <!-- The text above is copied directly from the ChEBI-N ReadMe -->
        </div>

        <h4 class="mb-2 mt-3">
            <button class="btn info-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#looping-strategy-info" aria-expanded="false" aria-controls="looping-strategy-info">
                <i class="fa fa-chevron-right info-toggle-icon"></i> Looping pruning strategy
            </button>
        </h4>
        <div class="collapse" id="looping-strategy-info">
            <p>
                For the looping pruning strategy, there is first a pre-loop phase where pruners are applied once, and then a loop phase where pruners are
                applied in a loop until no more changes are made. Since the methods are already predefined, no further selections are needed (and will be ignored) when choosing the looping pruning strategy.
            </p>
            <p>
                <strong>Plain Enrichment Pruning Strategy:</strong> The pre-loop phase applies the high p-value
                branch pruner (with a threshold of 0.05), the linear branch collapser pruner (with n = 0), and the
                root children pruner (levels = 2). The loop phase applies the high p-value branch pruner (with a
                threshold of 0.05), the linear branch collapser pruner (with n = 0), and the zero-degree vertex
                pruner. Benjamini-Hochberg is used as the p-value correction method.
            </p>
            <!-- The text above is copied directly from the ChEBI-N ReadMe -->
        </div>
    </aside>
    </div>
    {% else %}
    <div class="alert alert-warning mt-4" role="alert">
        <h2 class="alert-heading">No study set submitted.</h2>
        <hr>
        <a href="/" class="btn btn-primary">
            Back to homepage
        </a>
    </div>
    {% endif %}
</div>

<script>
    // Initialize Bootstrap popovers
    document.addEventListener('DOMContentLoaded', function() {
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        const popoverList = popoverTriggerList.map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    });
</script>

{% endblock %}
